<div class="modal-header">
  <h5 class="modal-title">Modal title</h5>
  <button type="button" class="btn-close" aria-label="Close" data-dialog-reason="close"></button>
</div>
<div class="modal-body">
  <p>Modal body text goes here.</p>
  <pre> {{ data | json }}</pre>
  <button (click)="valid =! valid">Change data</button>
  {{valid}}
  <input [(ngModel)]="result" />
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dialog-reason="cancel">Close</button>
  <button type="button" class="btn btn-primary" data-dialog-reason="ok">Save changes</button>
</div>