<rlb-navbar color="light" expand="lg">
	<a class="d-block d-sm-none" rlb-button href="#" toggle="collapse" toggle-target="sidebar" [outline]="true">
		<span class="navbar-toggler-icon"></span>
	</a>
	<a rlb-navbar-brand href="#">Navbar</a>
	<rlb-navbar-items class="me-auto">
		<a rlb-navbar-item [routerLink]="['/']" routerLinkActive="active">Home</a>
		<a rlb-navbar-item [routerLink]="['/getting-started']" routerLinkActive="active">Getting started</a>
		<a rlb-navbar-item [routerLink]="['/components']" routerLinkActive="active">Components</a>
	</rlb-navbar-items>
	<!-- <rlb-navbar-form>
		<rlb-input />
		<button rlb-button [outline]="true" color="primary" [size]="'sm'">Search</button>
	</rlb-navbar-form>
	<rlb-navbar-text>
		Un testo
	</rlb-navbar-text> -->
</rlb-navbar>
<div class="d-flex flex-row w-100">
	<rlb-sidebar id="sidebar" width="300px">
		<rlb-sidebar-body>
			<rlb-nav class="px-3 pt-2" [vertical]="true">
				<rlb-nav-item icon="fs-4 bi-house"> Home </rlb-nav-item>
				<rlb-nav-item icon="fs-4 bi-house"> Getting started </rlb-nav-item>
				<rlb-nav-item icon="fs-4 bi-house">
					<span rlb-nav-title>Components</span>
					<rlb-nav-item icon="fs-4 bi-house"> Accordions </rlb-nav-item>
					<rlb-nav-item icon="fs-4 bi-house"> Alerts </rlb-nav-item>
				</rlb-nav-item>
			</rlb-nav>
		</rlb-sidebar-body>
		<rlb-sidebar-footer>
			<rlb-dropdown direction="up">
				<a rlb-dropdown class="text-white text-decoration-none">
					<img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
					<span class="d-none d-sm-inline mx-1">Joan Simpson</span>
				</a>
				<ul rlb-dropdown-menu>
					<li rlb-dropdown-item>New project...</li>
					<li rlb-dropdown-item>Settings</li>
					<li rlb-dropdown-item [divider]="true"></li>
					<li rlb-dropdown-item>Settings</li>
				</ul>
			</rlb-dropdown>
		</rlb-sidebar-footer>
	</rlb-sidebar>
	<div class="flex-grow-1 ps-2">
		<router-outlet />
	</div>
</div>

<rlb-modal-container id="modal-c-1" />
<rlb-toast-container class="position-fixed bottom-0 end-0 p-3" id="toast-c-1" />