<!-- <div style="padding: 5px;">
	<rlb-accordion>
		<div rlb-accordion-item [expanded]="true">
			<h2 rlb-accordion-header>
				Titolo 1
			</h2>
			<div rlb-accordion-body>
				body 1
			</div>
		</div>
		<div rlb-accordion-item>
			<h2 rlb-accordion-header>
				Titolo 2
			</h2>
			<div rlb-accordion-body>
				body 2
			</div>
		</div>
		<div rlb-accordion-item>
			<h2 rlb-accordion-header>
				Titolo 3
			</h2>
			<div rlb-accordion-body>
				body 3
			</div>
		</div>
	</rlb-accordion>
	<button rlb-button class="position-relative" [color]="'danger'" [outline]="true" size="lg" badge="pippo"
		[badge-start]="100" [badge-top]="0" [badge-color]="'info'" [badge-pill]="true" [tooltip]="'Ciao'"
		[tooltip-placement]="'right'">Toggle</button>
</div>

<span rlb-badge [pill]="true">ppp</span>

<rlb-card style="width: 300px;" [overlay]="false">
	<rlb-card-header>Header</rlb-card-header>
	<img rlb-card-image src="https://via.placeholder.com/150" alt="Card image cap">
	<rlb-card-body>
		<h5 rlb-card-title>Card title</h5>
		<h6 rlb-card-subtitle>Card subtitle</h6>
		<p rlb-card-text>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		<a href="#" rlb-card-link>Card link</a>
		<a href="#" rlb-card-link>Another link</a>
	</rlb-card-body>
	<rlb-card-footer>Footer</rlb-card-footer>
</rlb-card>

<rlb-progress [value]="22" [animated]="true" [height]="5"></rlb-progress>
<rlb-progress [value]="44" [animated]="true" [height]="10" color="danger"></rlb-progress>
<rlb-progress [value]="66" [animated]="true" [height]="15" color="success"></rlb-progress>
<rlb-progress [value]="66" [animated]="true" [height]="15" color="success" [striped]="true"></rlb-progress>
<rlb-progress [value]="66" [animated]="true" [height]="15" color="success" [showValue]="true">pippo</rlb-progress>

<rlb-spinner [color]="'primary'" [size]="'lg'"></rlb-spinner> -->

<button rlb-button rlb-collapse='pippo' type="button">Ciao</button>
<rlb-collapse id="pippo">
	<rlb-card style="width: 300px;" [overlay]="false">
		<rlb-card-body>
			<h5 rlb-card-title>Card title</h5>
			<p rlb-card-text>
				Some quick example text to build on the card title and make up the bulk of the card's content.
			</p>
		</rlb-card-body>
	</rlb-card>
</rlb-collapse>